.venv/

# uv
uv.lock
.env

# GTFS
data/static/feed/
data/static/*.parquet
data/realtime/*.pb
data/realtime/*.csv

# Cache
data/realtime/__pycache__/
__pycache__/
*.py[cod]
*.pyo

# diskcache
cache/
*.diskcache

.dash_cache/
.vscode/
.idea/
.DS_Store
Thumbs.db
.claude
claude.md